.productsContainer {
  display: grid;
  grid-template-columns: 1fr 6fr;
  max-width: 80vw;
  margin: auto;
}

.productLifestyleContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3vw;
  margin-bottom: 5vh;
}

.productsInnerContainer > h2 {
  margin-top: 3em;
}

.productFeatuersLiUl {
  list-style-type: none;
  margin-block-start: 0;
  padding-inline-start: 0;
}

#insideBoxContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.productFeaturesLi,
.productAboutContainer {
  list-style-type: none;
  margin-block-start: 0;
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3vw;
  text-align: left;
}

.productFeaturesLi > li {
  max-width: 400px;
  margin: auto;
  text-align: left;
}

.productAboutContainer > h2 {

}

.productTopInnerImgContainer {
  display: flex;
}

.productTopInnerImgContainer > img {
  margin: auto;
}

.productTopHeaderContainer > h2 {
  text-align: left;
  font-size: 2em;
  font-weight: 600;
  margin: 10px auto;
}

.productTopHeaderContainer > h3 {
  text-align: left;
  font-size: 1.25em;
  margin: 10px auto;
}

.productFeatuersLi {
  padding-top: 5px;
  padding-bottom: 5px;
}

.productSizesLi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 500px;
  list-style-type: none;
  margin: 0;
  padding-inline-start: 0;
}

.productTopContainer {
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.productSizesIcon {
  max-width: 150px;
}






